.device{
    width: 614px;
}
.head {
    height: 54px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0px 30px;
    border-bottom: 1px solid #DBDBDB;
    border-width: 100%;
}
.head ion-icon {
    font-size: 22px;
}
.stories{
    height: 121px;
}